# def function

In [19]:
# first call the function
greet('Akarsh Rastogi')
# Then define the function
def greet(name):
    print("Hello " + name + " Good morning!")

Hello Akarsh Rastogi Good morning!

In [21]:
greet('Mr. Akarsh Rastogi')
def greet(Name):
    print('Hello',Name)

Hello Mr. Akarsh Rastogi

In [24]:
def my_fun():
    x=10
    print('value inside the function=',x)
x=20
my_fun()
print('value outside the function=',x)

value inside the function= 10
value outside the function= 20

In [48]:
my_fun('Akarsh','Max','John')
def my_fun(*kids): # Use * for more than one arguments which is called *args , It is use to short the arguments
    print('My younger kid is',  kids[0])

My younger kid is Akarsh

In [29]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [52]:
my_function(fname = "Tobias", lname = "Refsnes")
def my_function(**kid): # If the number of keyword arguments is unknown, add a double ** before the parameter name
  print("His last name is " + kid["fname"])

His last name is Tobias

In [64]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

# return function

In [67]:

def add_num(num1,num2):
    return num1+num2
add_num(200,905)

1105

In [69]:
def cube(x):
    r=x**3
    return r
cube(5)

125

In [70]:
def my_list(a,b):
    c=a*b
    return c
my_list(2,4)

8